.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    user-select: none;
}

.letsplay{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color:#087f5b;
    font-size: 2em;
    font-weight: 600;

}

.robot{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

.robot > p{
    font-size:1.3em;
    color: #087f5b;
    font-family: 'Courier New', Courier, monospace;
}

.robot > div{
    width: 100px;
    height: 100px;
    background-color: #e6fcf5;
    border: solid 2px #96f2d7 ;
    border-radius: 20px;
    font-size: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: center;
    align-items: center;
}

.buttons > button{
    width: 100px;
    height: 100px;
    background-color: #e6fcf5;
    border: solid 2px #96f2d7 ;
    border-radius: 20px;
    font-size: 3em;
    opacity: 1;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttons2{
    margin-top: 50px;
    display: flex;
    gap:20px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.buttons2 > a{
    width: 100px;
    height: 30px;
    display: block;
    font-size: 1.3em;
    border: 2px #087f5b solid;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:#087f5b;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width:224px) {
    .buttons > button{
        width: 70px;
        height: 70px;
        font-size: 2em;
    }

    .robot >div{
        width: 70px;
        height: 70px;
        font-size: 2em;
    }

    .buttons2{
        font-size: .7em;
    }

    .buttons2 > a{
        width: 40px;
        height: 20px;
    }
}

@media screen and (min-width:1000px) {

    .letsplay{
        font-size: 3em;
    }

    .buttons > button{
        width: 130px;
        height: 130px;
        font-size: 3em;
    }

    .robot >div{
        width: 130px;
        height: 130px;
        font-size: 3em;
    }

    .buttons2{
        font-size: 1.6em;
        margin-bottom: 300px;
    }

    .buttons2 > a{
        width: 100px;
        height: 30px;
    }
}


