h1{
    color:#087f5b;
    text-align: center;
    margin: 20px 0;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
}

.container{
    margin: 20px;
}

.container > h2{
    color:#087f5b;
    margin: 5px 0;
    margin-top: 15px;
}

.container > p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.15em;
    letter-spacing: 1.2px;
}


.container> ul > li{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.15em;
    letter-spacing: 1.2px;
}

.doneBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}

.doneBtn{
    margin-top: 20px;
    display: flex;
    border: #087f5b solid 2px;
    width: 130px;
    height: 40px;
    font-size: 1.6em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color:#087f5b ;
    font-family:'Courier New', Courier, monospace;
}

.doneBtnContainer > p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.15em;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}
