span{
    font-size: 0.5em;
    font-weight: 600
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    height: 100vh;
    justify-content: center;
}

.scoreBoard{
    display: flex;
    width: 60%;
    height: 70px;
    display: flex;
    font-size:3.4em;
    justify-content: center;
    align-items: center;
    color:#087f5b;
}

.gameBoard{
    box-sizing: border-box;
    width: 360px;
    height: 360px;
    background-color: #c3fae8;
    border: solid 2px #96f2d7 ;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3,1fr);
}

.gameBoard > div{
    width: 90px;
    height: 90px;
    background-color: #96f2d7;
    border-radius: 20px;
    font-size: 3.2em;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #064d36;
}

.turnBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color:#087f5b;
}

.buttons{
    margin-bottom: 190px;
    display: flex;
    gap:20px;
}

.buttons > a{
    width: 100px;
    height: 30px;
    display: block;
    font-size: 1.3em;
    border: 2px #087f5b solid;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:#087f5b;
    font-weight: 600;
}
