span{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.2px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 10px;
    gap:25px;
    user-select: none;
}

.hearts{
    display: flex;
    font-size: 2em;
    justify-content: center;
    opacity: 0.6;
    box-shadow:0 5px 5px #087f5b;
    border-radius: 20px;
    padding: 10px;
}


.word{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 300px;
    height: 40px;
}

.word > div{
    font-size: 2em;
    border-bottom: #087f5b solid 2px;
    width: 20px;
    height: 35px;
    text-align: center;
}

.keyboard{
    box-sizing: border-box;
    width: 360px;
    height: 210px;
    background-color: #c3fae8;
    border: solid 2px #96f2d7 ;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.keyboard > .row1{
    display: flex;
    column-gap: 8px;
}

.keyboard > .row2{
    display: flex;
    column-gap: 8px;
}

.keyboard > .row3{
    display: flex;
    column-gap: 8px;
}

.keyboard > .row1 > div,.keyboard > .row2 > div,.keyboard > .row3 > div{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    width: 20px;
    height: 28px;
    border:#087f5b solid 2px;
    padding: 0.7px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.used{
    opacity: 0.2;
}

.buttons{
    display: flex;
    gap:20px;
    margin-bottom: 80px;
}

.buttons > a{
    width: 100px;
    height: 30px;
    display: block;
    font-size: 1.3em;
    border: 2px #087f5b solid;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:#087f5b;
    font-weight: 600;
    cursor: pointer;
}

.win,.lose{
    height: 70vh;
    flex-direction: column;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.win > h1,.lose > h1{
    color:#087f5b;
    text-align: center;
    margin: 20px 0;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
}

.win > p,.lose >p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.15em;
    letter-spacing: 1.2px;
    margin-top: 10px;
}

.playAgainBtn{
    margin-top: 20px;
    display: flex;
    border: #087f5b solid 2px;
    width: 130px;
    height: 40px;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color:#087f5b ;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}

@media screen and (max-width:362px){
    .hearts{
        font-size: 1.5em;
    }

    .word{
        width: 280px;
    }

    .keyboard{
        width: 300px;
    }

    .keyboard > .row1 > div,.keyboard > .row2 > div,.keyboard > .row3 > div{
    font-size: 1.2em;
    width: 15px;
    height: 28px;
    }
}

@media screen and (max-width:300px){
    .hearts{
        font-size: 1.5em;
    }

    .word{
        width: 240px;
    }

    .keyboard{
        width: 230px;
    }

    .keyboard > .row1 > div,.keyboard > .row2 > div,.keyboard > .row3 > div{
        font-size: 1em;
        width: 12px;
        height: 20px;
    }

    .keyboard > .row1{
        display: flex;
        column-gap: 4px;
    }

    .keyboard > .row2{
        display: flex;
        column-gap: 4px;
    }

    .keyboard > .row3{
        display: flex;
        column-gap: 4px;
    }

    .buttons > a{
        width: 60px;
        height: 30px;
    }

}

@media screen and (min-width:1000px) {
    .hearts{
        font-size: 3em;
    }


    .keyboard{
        width: 500px;
    }

    .keyboard > .row1 > div,.keyboard > .row2 > div,.keyboard > .row3 > div{
        font-size: 2em;
        width: 30px;
        height: 40px;
    }

    .keyboard > .row1{
        display: flex;
        column-gap: 10px;
    }

    .keyboard > .row2{
        display: flex;
        column-gap: 10px;
    }

    .keyboard > .row3{
        display: flex;
        column-gap: 10px;
    }

    .buttons{
        margin-bottom: 250px;
    }

    .buttons > a{
        width: 100px;
        height: 40px;
        font-size: 1.8em;
    }
}