


footer{
    margin-top: 20px;
    user-select: none;
    box-sizing: border-box;
    padding: 10px;
    background-color: #0ca678;
    width: 100%;
    height: auto;
}

footer a{
    color: black;
}

footer a:visited{
    color: black;
}

footer > ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

footer > ul > a > li{
    font-size: 1.2em;
    font-family:monospace;
    border: #099268 solid 2px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

footer > ul > a > li:hover{
    background-color: #0cbc87;
}

footer > p{
    margin-top: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif
}
