h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px
}

.card{
    width: 85%;
    height: 200px;
    background-color: #e6fcf5;
    border: solid 2px #96f2d7 ;
    border-radius: 20px;
}