h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    margin-top: 20px;
    color:#087f5b;
}

.container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.container > a {
    display: block;
    width: 80%;
}

.card{
    box-sizing: border-box;
    width: 100%;
    height: 170px;
    background-color: #e6fcf5;
    border: solid 2px #96f2d7 ;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2em;
    color: #064d36;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#ticTacToe{
    background-image: url("/games/ticTacToe.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hangman{
    background-image: url("/games/hangman.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#rps{
    text-align: center;
    font-size: 1.7em;
    background-image: url("/games/rps.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width:303px){
    .card{
        font-size: 1.5em;
    }

    #rps{
        font-size: 1.4em;
    }
}

@media screen and (max-width:263px){
    h1{
        font-size: 1.7em;
    }
}


@media screen and (max-width:231px){

    .card{
        font-size: 1.2em;
    }

    #rps{
        font-size: 1.1em;
    }
}

@media screen and (min-width:600px){

    h1{
        margin: 50px 0;
    }
    
    .container > a{
        width: 400px;
    }
}

@media screen and (min-width:820px){

    .container {
        margin-bottom: 446px;
    }
}

