body{
    background:linear-gradient(to bottom, #82e2c5, #077453);
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    color:#087f5b;
    font-size: 2.5em;
}

.container > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:50px;
}

.container > form > label{
    font-size: 1.4em;
    color:#0a5c43;
    font-weight: 800;
}

.container > form > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
    color: #0a5c43;
    font-weight: 800;
}

.container > form > div > input{
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.container > form > div > label{
    font-size:1.3em;
}

.container > form > input{
    width: 280px;
    height: 30px;
    outline: none;
    border: #087f5b solid 2px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    color: #005a3f;
    padding: 2px;
}

.container > form > button{
    margin: 20px;
    width: 120px;
    height: 40px;
    border: #087f5b solid 2px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #005a3f;
    font-weight: 600;
}

.container > p{
    font-size: 1.2em;
    color:#004631;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}    
   
.container > p > a{
    color: #c9ffef;
}

.container > p > a:visited{
    color: #c9ffef;
}

#message{
    color: rgb(248, 144, 60);
}

@media screen and (max-width:292px) {
    .container > form > input{
        width: 210px;
    }
}

@media screen and (max-width:225px) {

    h1{
        font-size: 1.7em;
    }

    .container > form > input{
        width: 100px;
    }
}
